In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("../simstpy/atac/genomes/hg38.chrom.sizes", sep="\t", header=None)

In [10]:
df.head()

      0          1
0  chr1  248956422
1  chr2  242193529
2  chr3  198295559
3  chr4  190214555
4  chr5  181538259